{% import "bootstrap/wtf.html" as wtf %}
{% extends "appbuilder/base.html" %}
{% block content %}
<div class="container">
  <div class="row">
    <div class="col-md-8">
      <h1 class="text-align-center">{{_("Magellan")}}</h1>
      <div>
        {{ wtf.quick_form(search_form) }}
      </div>
      <div class="col-auto">
        <!-- TODO: Add filters! -->
      </div>
    </div>
  </div>
  <div class="row well">
      <p class="primary">
        Not sure what to look for? Try one of these:
      </p>
      <div>
        {% for tag in tags[:10] %}
        <tr>
          <a href="{{ url_for('SearchView.q', text=tag.name) }}" class="btn label label-warning">{{ tag.name }}</a>
        </tr>
        {% endfor %}
      </div>
    </div>
    <div class="col-auto">
      <!-- TODO: Add filters! -->
    </div>
  </div>
</div>
{% endblock %}
